# Python bytecode:
*.py[co]

# Packaging files:
*.egg*
dist

# Editor temp files:
*.swp
*~
.settings
.pydevproject
.project

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Coverage reports:
.coverage
